<div class="container">

    <div class="col-7 divFormulario mt-5">
        <form [formGroup]="formulario" (ngSubmit)="guardarNuevosDatosUsuario()">
            <h1 class="h3">Mis datos</h1>
            <div class="form-group">
                <label for="nombreUsuario">Nombre de usuario</label>
                <input type="text" id="nombreUsuario" class="form-control" name="nombreUsuario"
                    formControlName="nombreUsuario" [value]="usuario.username" readonly>
            </div>

            <div class="form-group">
                <label for="correo">Correo electónico</label>
                <input *ngIf="!modoEditar" type="email" id="correo" class="form-control" name="correo"
                    formControlName="correo" [value]="usuario.email" readonly>
                <input *ngIf="modoEditar" type="email" id="correo" class="form-control" name="correo"
                    formControlName="correo">
                <span class="help-block" *ngIf="!formulario.get('correo').valid && formulario.get('correo').touched">
                    Introduzca su correo electrónico
                </span>
            </div>

            <div class="form-group">
                <label for="password">Contraseña</label>
                <input *ngIf="!modoEditar" type="password" id="password" class="form-control" name="password"
                    formControlName="password" [value]="usuario.pass" readonly>
                <input *ngIf="modoEditar" type="password" id="password" class="form-control" name="password"
                    formControlName="password">

                <span class="help-block"
                    *ngIf="!formulario.get('password').valid && formulario.get('password').touched">
                    Introduzca su contraseña
                </span>
            </div>

            <div class="form-group">
                <label for="nombre">Nombre</label>
                <input *ngIf="!modoEditar" type="text" id="nombre" class="form-control" name="nombre"
                    formControlName="nombre" [value]="usuario.nombre" readonly>
                <input *ngIf="modoEditar" type="text" id="nombre" class="form-control" name="nombre"
                    formControlName="nombre">
            </div>

            <div class="form-group">
                <label for="password">Apellidos</label>
                <input *ngIf="!modoEditar" type="text" id="apellidos" class="form-control" name="apellidos"
                    formControlName="apellidos" [value]="usuario.apellidos" readonly>
                <input *ngIf="modoEditar" type="text" id="apellidos" class="form-control" name="apellidos"
                    formControlName="apellidos">
            </div>

            <div class="form-check">
                <input *ngIf="!modoEditar" type="checkbox" class="form-check-input" id="visible" name="visible"
                    [checked]="usuario.visible" readonly>
                <input *ngIf="modoEditar" type="checkbox" class="form-check-input" id="visible" name="visible"
                    (click)="cambiarValorCheckbox()" [checked]="usuario.visible == 1 ? true : false">
                <label class="form-check-label" for="visible">Marque esta casilla si quiere aparecer visible para otros
                    usuarios.</label>
            </div>

            <div class="d-flex justify-content-between mt-2 w-100">
                <div>
                    <button *ngIf="!modoEditar" type="button" class="btn btn-info mt-2 mr-2"
                        (click)="habilitarEdicion()">Editar</button>
                    <button *ngIf="modoEditar" type="button" class="btn btn-danger mt-2 mr-2"
                        (click)="deshabilitarEdicion()">Cancelar</button>
                    <button *ngIf="modoEditar" type="submit" class="btn btn-info mt-2"
                        [disabled]="!formulario.valid">Guardar</button>
                </div>
                <div>
                    <button type="button" class="btn btn-danger mt-2" (click)="eliminarCuenta()">Eliminar Cuenta</button>
                </div>
            </div>

        </form>

    </div>

    <app-modal-confirmacion *ngIf="modalConfirmacion" [texto]="'Va a eliminar su cuenta permanentemente, ¿desea continuar con la operación?'" (confirmar)="confirmarEliminacion($event)"></app-modal-confirmacion>

    <ng-template #contenidoCambios let-modal>
        <div class="modal-body" data-backdrop="static" data-keyboard="false">
            <p>Cambios realizados con éxito.</p>
        </div>
    </ng-template>
</div>