<div class="container">

    <div class="col-7 divFormulario mt-5">
        <form [formGroup]="formulario" (ngSubmit)="guardarNuevosDatosUsuario()">
            <h1 class="h3">Mis datos</h1>
            <div class="form-group">
                <label for="nombreUsuario">Nombre de usuario</label>
                <input *ngIf="!modoEditar" type="text" id="nombreUsuario" class="form-control" name="nombreUsuario"
                    formControlName="nombreUsuario" [value]="usuario.username" readonly>
                <input *ngIf="modoEditar" type="text" id="nombreUsuario" class="form-control" name="nombreUsuario"
                    formControlName="nombreUsuario">
                <span class="help-block"
                    *ngIf="!formulario.get('nombreUsuario').valid && formulario.get('nombreUsuario').touched">
                    Introduzca su nombre de usuario
                </span>
                <span class="help-block " *ngIf="existeUsuario">
                    El nombre de usuario ya existe, introduzca otro
                </span>
            </div>

            <div class="form-group">
                <label for="correo">Correo electónico</label>
                <input *ngIf="!modoEditar" type="email" id="correo" class="form-control" name="correo"
                    formControlName="correo" [value]="usuario.email" readonly>
                <input *ngIf="modoEditar" type="email" id="correo" class="form-control" name="correo"
                    formControlName="correo" [value]="usuario.email">
                <span class="help-block" *ngIf="!formulario.get('correo').valid && formulario.get('correo').touched">
                    Introduzca su correo electrónico
                </span>
            </div>

            <div class="form-group">
                <label for="password">Contraseña</label>
                <input *ngIf="!modoEditar" type="password" id="password" class="form-control" name="password"
                    formControlName="password" [value]="usuario.pass" readonly>
                <input *ngIf="modoEditar" type="password" id="password" class="form-control" name="password"
                    formControlName="password" [value]="usuario.pass">

                <span class="help-block"
                    *ngIf="!formulario.get('password').valid && formulario.get('password').touched">
                    Introduzca su contraseña
                </span>
            </div>

            <div class="form-group">
                <label for="nombre">Nombre</label>
                <input *ngIf="!modoEditar" type="text" id="nombre" class="form-control" name="nombre"
                    formControlName="nombre" [value]="usuario.nombre" readonly>
                <input *ngIf="modoEditar" type="text" id="nombre" class="form-control" name="nombre"
                    formControlName="nombre" [value]="usuario.nombre">
            </div>

            <div class="form-group">
                <label for="password">Apellidos</label>
                <input *ngIf="!modoEditar" type="text" id="apellidos" class="form-control" name="apellidos"
                    formControlName="apellidos" [value]="usuario.apellidos" readonly>
                <input *ngIf="modoEditar" type="text" id="apellidos" class="form-control" name="apellidos"
                    formControlName="apellidos" [value]="usuario.apellidos">
            </div>

            <div class="form-check">
                <input *ngIf="!modoEditar" type="checkbox" class="form-check-input" id="visible" name="visible"
                    [value]="usuario.visible" readonly>
                <input *ngIf="modoEditar" type="checkbox" class="form-check-input" id="visible" name="visible"
                    [value]="usuario.visible">
                <label class="form-check-label" for="visible">Marque esta casilla si quiere aparecer visible para otros
                    usuarios.</label>
            </div>

            <button type="button" class="btn btn-info mt-2 mr-2" (click)="habilitarEdicion()">Editar</button>
            <button type="submit" class="btn btn-info mt-2" [disabled]="!formulario.valid">Enviar</button>

        </form>

    </div>
</div>